*{
    margin: 0;
    padding: 0;
}
.done-true{
    text-decoration: line-through;
    color: aquamarine;
}
body{
    background-image: linear-gradient(to right,#8eb7d3,#133b52);
    vertical-align: middle;
}
#main{
    margin: 6% 10%;
    padding: 2%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: 500;
    background-color: black;
    color: blanchedalmond;
    align-items: center;
}
.container{
    margin: 20px;
    padding: 20px;
    align-items: center;
}
.adder{
    position: relative;
    height: 25px;
    width: auto;
    border-radius: 5px;
    margin: auto 10px;
    border-color: crimson;
    box-shadow: crimson;
}
.nav-link{
    color: black;
    background-color: blanchedalmond;
    margin-left: 200px;
    border: black 1px;
    border-color: teal;
    box-shadow: steelblue;
}
.nav-item{
    text-align: center;
    text-decoration: underline;
}
h4{
    text-align: center;
    font-size: 16;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.click{
    position: relative;
    height: 25px;
    width: auto;
    border-radius: 5px;
    margin: auto 20px;
    border-color: rgb(57, 202, 195);
    box-shadow: rgb(88, 179, 221);
}
.btn-primary{
    border-radius: 5px;
    margin: auto 20px;
    border-color: rgb(202, 57, 137);
    box-shadow: rgb(80, 33, 68);
}
#NewList{
    font-size: 16;
    font-weight: 400;
}
#NewList1{
    font-size: 16;
    font-weight: 400;
    margin: 3px;
}
#date{
    font-size: 8px;
}